<footer>
    <hr>
    <div class="container">
        <div class="row">
            <h6>For more details contact us at - </h6>
        </div>
        <div class="row" id="footerContact">
            <div class="col-4">9876543210</div>
            <div class="col-4">abc@bookkeeper.com</div>
            <div class="col-4">abc@facebook</div>
        </div>
        <br>
        <div class="row">
            <p>This application's rights are reserve &copy;Bookkeper</p>
        </div>
    </div>
</footer>