<div class="container">
    <div class="wrapper">
        <div class="left-side">
            <img src="assets\homepage.jpg" alt="" width="300" height="200"><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nemo praesentium, mollitia perferendis,
                sapiente blanditiis fugiat consequuntur velit deserunt aliquid suscipit reprehenderit maxime laborum
                ad dolorum earum id qui eamolestiae temporibus similique. Quibusdam eos vel quam pariatur veritatis
                ullam ducimus adipisci accusamus voluptatem veniam, commodi odio iusto unde, dolor labore voluptatum
                magni iste laborum deleniti ipsa! Dignissimos dolores nesciunt enim ipsam animi, nisi assumenda fugiat
                quas dolore at est. Dolor repudiandae aliquid totam obcaecati.</p>
        </div>
        <div class="right-side">
            <h4>Login Now!</h4><br><br><br><br>
            <form action="">
                <label for="logEmail">Email ID - </label>
                <input type="email" name="logEmail" id="logEmail" class="form-control"><br><br>
                <label for="logPwd">Password - </label>
                <input type="password" name="logPwd" id="logPwd" class="form-control">
                <br><br>
                <input type="button" value="Login Now!" class="btn btn-primary" routerLink="/dashboard"><br><br>
                <nav>
                    <a routerLink="/registration">New User? Click here to register</a>
                </nav>
            </form>
        </div>
    </div>
</div>
