<div class="container">
    <br>
    <div class="row">
        <h4>Register Now!</h4><br><br>
    </div>
    <div class="container" id="regForm">
        <form action="">
            <label for="regName">Name - </label>
            <input type="text" name="regName" id="regName" class="form-control">
            <label for="regEmail">Email ID - </label>
            <input type="email" name="regEmail" id="regEmail" class="form-control">
            <label for="regPwd">Password - </label>
            <input type="password" name="regPwd" id="regPwd" class="form-control">
            <label for="regDOB">Date of Birth - </label>
            <input type="date" name="regDOB" id="regDOB" class="form-control">
            <label for="regPhone">Phone No. - </label>
            <input type="text" name="regPhone" id="regPhone" class="form-control">
            <label for="regAdd">Address - </label><br>
            <textarea name="regAdd" id="regAdd" cols="52" rows="4"></textarea><br><br>

            <input type="button" value="Register" class="btn btn-primary" id="regButton" routerLink="/homepage"><br><br>
        </form>
    </div>
</div>